<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/custom.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<h1>{{ event.name }}</h1>
				</hr><br><br>
				Start Date : {{ event.eventStartDate }}
				<br>
				End Date : {{ event.eventEndDate }}
				<br><br><br>
				Address :
				<br>
				{{ event.addressLine_1 }}<br>
				{{#if event.addressLine_2.length }}
					{{ event.addressLine_2 }}<br>
				{{/if}}
				{{ event.region }}<br>
				{{ event.city }} - {{ event.postCode }}<br>
				<br>
				<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{ event.postCode }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/best-wordpress-themes/">embedgooglemap.net tamplates</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
			</div>
		</div>
	</div>
