<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/custom.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<div style="text-align: center" >
					<h1>{{ event.name }}</h1>
					<p>{{ event.notes }}</p>
				</div>
				<div class="mapouter">
					<div class="gmap_canvas">

						{{#if this.addressLine_2}}
							<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{ event.addressLine_1 }},{{ event.addressLine_2 }},{{ event.region }}, {{ event.city }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						{{else}}
							<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{ event.addressLine_1 }},{{ event.region }}, {{ event.city }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						{{/if}}
					</div>
					<style>
						.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
					</style>
				</div>
				</hr><br><br>
				<b>Start Date :</b> {{ event.eventStartDate }}
				<br>
				<b>End Date :</b> {{ event.eventEndDate }}
				<br><br><br>
				<b>Address :</b>
				<br>
				{{ event.addressLine_1 }}<br>
				{{#if event.addressLine_2.length }}
					{{ event.addressLine_2 }}<br>
				{{/if}}
				{{ event.region }}<br>
				{{ event.city }} - {{ event.postCode }}<br>
				<br>
				<b>Gallary :</b>
				<br>
				<br>
				<div class="row" >
					{{#each event.images}}
						<img src="{{ this.filename }}" style="padding:15px;height: 200px;width:200px" />
					{{/each}}
				</div>
			</div>
		</div>
	</div>
